.a-countdown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-align: center;
  width: 100%;
  font-family: 'Starjedi', sans-serif;
  background-color: #2C2C2C;
  padding: 20px 5px 20px 5px;
}

.a-countdown > div {
  display: block;
  width: 135px;
}
.a-countdown > span {
  font-size: 60px;
}

.a-countdown h1,
.a-countdown h2 {
  margin: 0;
  letter-spacing: 2px;
}

.a-countdown h1 {
  color: white;
  font-size: 90px;
}

.a-countdown h2 {
  color: #fff;
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  .a-countdown h1 {
    font-size: 70px;
  }

  .a-countdown h2 {
    font-size: 15px;
  }
  .a-countdown > div {
    width: 100px;
  }
  .a-countdown > span {
    font-size: 45px;
  }
}

@media screen and (max-width: 550px) {
  .a-countdown h1 {
    font-size: 50px;
  }

  .a-countdown h2 {
    font-size: 10px;
  }
  .a-countdown > div {
    width: 70px;
  }
  .a-countdown > span {
    font-size: 25px;
  }
}

@media screen and (max-width: 340px) {
  .a-countdown h1 {
    font-size: 40px;
  }

  .a-countdown h2 {
    font-size: 10px;
  }
  .a-countdown > div {
    width: 60px;
  }
  .a-countdown > span {
    font-size: 10px;
  }
}
