.ant-btn-primary.button_header{
  background-color: transparent;
  height: 50px;
  border-color: transparent;
}

.a-intro-header {
  position: fixed;
  height: 60px;
  width: 100vw;
  max-width: 100%;
  top: 0;
  background-color: #365DA8;
  border-bottom: 3px solid #fff;
  z-index: 10;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 350px) {
  .a-intro-header__nav__mobile .a-intro-header__mainButton {
    left: 100%;
    transform: translateX(calc(-100% - 10px));
  }
}